
@model AssociateAppraisals.Web.ViewModels.AppraisalQuestionViewModel

<div class="panel-body">
    <div class="media">
        <div class="media-body">
            <h3 class="media-heading">
                Appraisal @Model.AppraisalId
            </h3>
            <p>Question: @Model.Question</p>
            <p>Question Number: @Model.QuestionNumber</p>
        </div>
    </div>
</div>