
@model AssociateAppraisals.Web.ViewModels.AppraisalQuestionViewModel

<div class="panel-body">
    <div class="media">
        <div class="media-body">
            <p><a href="">[THIS IS WHERE A BUTTON TO ADD A QUESTION GOES]</a></p>
            <p>Question Number: @Model.QuestionNumber</p>
            <p>Question: @Model.Question</p>
            <p>Question Answer Type: [THIS IS WHERE A DROP DOWN OF QUESTION TYPES GOES]</p>
            <p>Question Group: [THIS IS WHERE A DROP DOWN OF QUESTION GROUPS GOES]<a href="">[THIS IS WHERE A BUTTON TO ADD A NEW GROUP GOES]</a></p>
        </div>
    </div>
</div>