@model IEnumerable<AssociateAppraisals.Model.Appraisal>
@{
    ViewBag.Title = "Associate Appraisals";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">This is the main interface for Associate Appraisals.</p>
</div>

@* Associates see the Identify Partners button *@
@if (AssociateAppraisals.Helpers.UserType.UserTypes.Associate.ToString() == AssociateAppraisals.Helpers.Session.Current.UserType)
{
    <a href="@Url.Action("IdentifyPartners", "Home", new { associateId = ViewBag.AssociateId, appraisalId = ViewBag.AppraisalId })">Identify Partners</a>
}
@* Partners see the Review Associates button *@
@if (AssociateAppraisals.Helpers.UserType.UserTypes.Partner.ToString() == AssociateAppraisals.Helpers.Session.Current.UserType)
{
    <a href="@Url.Action("AssociatesForReview", "Home", new { associateId = ViewBag.AssociateId, appraisalId = ViewBag.AppraisalId })">Review Associates</a>
}

<div class="row">
    <div class="floating-box">
        @foreach (var item in Model)
        {
            @Html.Partial("_Appraisal", item)
        }
    </div>
</div>
