@model IEnumerable<AssociateAppraisals.Model.Appraisal>
@{
    ViewBag.Title = "Associate Appraisals";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">This is the main interface for Associate Appraisals.</p>
</div>

@* We need to be able to identify the user's role.  Are they associate? partner? admin? not authorized? *@

<a href="@Url.Action("IdentifyPartners", "Home", new { associateId = ViewBag.AssociateId, appraisalId = ViewBag.AppraisalId })">Identify Partners</a>

@* If the user is a partner, take them directly to the partner home, no button *@
<a href="@Url.Action("AssociatesForReview", "Home", new { associateId = ViewBag.AssociateId, appraisalId = ViewBag.AppraisalId })">Review Associates</a>

<div class="row">
    <div class="floating-box">
        @foreach (var item in Model)
        {
            @Html.Partial("_Appraisal", item)
        }
    </div>
</div>
