@model IEnumerable<AssociateAppraisals.Web.ViewModels.AppraisalViewModel>
@{
    ViewBag.Title = "Associate Appraisals";
}

<div class="jumbotron">
    <h1>FINALLY.....</h1>
    <p class="lead">This is the main interface for Associate Appraisals.</p>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                @Html.Partial("Appraisal", item)
            </div>
        </div>
    }
</div>