/* This file was created for custom CSS */

.clickablediv{
    position: absolute;     /*Define absolute postion among the parent div*/
    top: 0;                 /* Start in a known position, top left */
    left: 0;
    width: 100%;            /*Make sure the link expands among the whole parent div*/
    height: 100%; 
    line-height: 200px;     
    text-align: right;      
}